.root {
}

.track {
  height: 1px;
}

.track::before {
  background-color: var(--mantine-color-gray-4);
}

.bar {
  background-color: var(--mantine-color-dark-9);
}

.markLabel {
  font-size: var(--mantine-font-size-xs);
  margin-bottom: rem(5px);
  margin-top: 0;
}


.thumb {
  width: 12px;
  height: 12px;
  background-color: var(--mantine-color-dark-9);
  border-width: 0;
}